{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(to right, #000, #006400);
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-container {
        background: rgba(255, 255, 255, 0.9);
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        max-width: 600px;
        width: 100%;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form input[type="text"],
    form input[type="password"],
    form input[type="email"],
    form select,
    form textarea {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        font-size: 16px;
    }

    form input[type="submit"] {
        background-color: #000;
        color: white;
        border: none;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        text-transform: uppercase;
        margin-top: 20px;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
    }

    form input[type="submit"]:hover {
        background-color: #333;
        transform: scale(1.05);
    }

    form input[type="submit"]:focus {
        outline: none;
    }
</style>

<div class="form-container">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Confirmer la création">
    </form>
</div>
{% endblock %}
